html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Quicksand', sans-serif;
	line-height: 1.8em;
	font-weight: 400;
}



section { padding: 40px 0 80px; }

.top-brand {
	display: none;
}

.btn {
	font-weight: 400;
	font-size: 16px;
	border-radius: 2px;
}

.btn-wa {
	background: none;
	border: 2px solid #FFDE03;
	color: #444444 !important;
}

.btn-lg {
	font-size: 20px;
}

.btn-sm {
	font-size: 14px;
}

.top-brand {
	padding: 20px 0;
	border-bottom: thin solid #e9e9e9;
}



.bs-docs-footer {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 64px;
	color: white;
	text-align: center;
	background-color: #444444;
}

.bs-docs-footer-links {
	padding-left: 0;
	margin-bottom: 20px;
}

.bs-docs-footer-links li {
	display: inline-block;
}

.bs-docs-footer-links li+li {
	margin-left: 15px;
}

.bs-docs-footer a {
	color: #fff;
}

.btn-primary {
	background-color: #6200EE;
	border-color: #ffffff;
}

.btn-primary:hover {
	background-color: #3700B3;
	border-color: #ffffff;
}

.top-head {
	box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
}

/* Hero Slider */
#hero .container {
	padding: 0;
}

#featured {
	padding: 24px 0;
}

.featured-box {
	padding: 0 32px;
	margin-bottom: 40px;
	text-align: center;
	line-height: 28px;
}

.icon-featured {
	font-size: 32px;
	color: rgba(255, 255, 255, 1);
	padding: 16px;
	border-radius: 50%;
	background-color: #FFDE03;
	margin-bottom: 20px;
}

.mt-slice {
	padding-right: 80px;
}

.mt-slice h3 {
	font-size: 48px;
	position: relative;
	letter-spacing: .5;
	padding-bottom: 20px;
}

.mt-slice h3:after {
	bottom: -2px;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	width: 32px;
	background-color: #DB4437;
}

.mt-slice p {
	color: #666;
	margin: 20px 0 40px;
	line-height: 28px;
}

.marbot {
	margin-bottom: 48px;
}

.marbot h4 {
	color: #555;
}

.marbot p {
	padding-right: 40px;
}

.icon-quote {
	font-size: 32px;
	color: rgba(255, 255, 255, 1);
	padding: 16px;
	border-radius: 50%;
	background-color: #34a853;
}

.line {
	height: 1px;
	border: none;
	background-color: #333;
	box-shadow: 1px 1px 0px #555;
}

.icon-featured {
	font-size: 32px;
	color: rgba(255, 255, 255, 1);
	padding: 16px;
	border-radius: 50%;
	background-color: #FFDE03;
}

.icon-2x {
	font-size: 32px;
	color: rgba(255, 255, 255, 1);
	padding: 16px;
	border-radius: 50%;
	background-color: #FFDE03;
	margin-bottom: 20px;
}

/* Quote */

.mdn-quote {
	width: 100%;
	margin: 0;
}

.mdn-quote blockquote {
	border: none;
	font-size: 24px;
	margin: 10px 0 10px 0;
	line-height: 32px;
	padding: 0;
}

.mdn-quote cite {
	font-size: 14px;
	color: #999999;
	font-style: normal;
}

.mdn-quote span.name {
	font-weight: 700;
	color: #444444;
	font-size: 16px;
}

.block-text {
	color: #ffffff;
	font-weight: 700;
	background-color: #34a853;
	padding: 0 4px;
}

/* Social Media */

.mt-social {
	padding-left: 0;
	margin-bottom: 40px;
}

.icon-s-2x {
	font-size: 20px;
	color: #FFDE03;
}

.icon-s-3x {
	font-size: 22px;
	position: relative;
	top: 2px;
	left: 0;
	color: #444444;
}

.mt-social p {
	float: left;
	position: relative;
	top: 1px;
	left: 0;
	margin-right: 20px;
}

.mt-social li {
	display: inline-block;
}

.mt-social li+li {
	margin-left: 15px;
}

/* ---------------- */
/* Carousel Slider */
/* -------------- */

.slide { margin: 0; }

.item img {
	width: 96%;
	margin: 2%;
	border-radius: 6px;
	box-shadow: 0px 0px 5px rgba(65,65,65, .4);
}

.carousel-indicators {
	position: relative;
	bottom: -20px;
}

.carousel-indicators li {
	background-color: #cc0000;
}

.carousel-indicators li.active {
	background-color: #6200EE;
}

.carousel-caption {
	position: static;
	background-color: none;
	text-shadow: none;
	padding: 24px 80px 14px;
}

.carousel-caption h3 {
	font-size: 20px;
	color: #444444;
	margin: 0;
}

.carousel-caption p {
	font-size: 14px;
	color: #414141;
	margin: 10px 0 ;
}

.carousel-caption .btn {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	color: #fff;
	margin: 0;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.carousel-caption h3 {
		font-size: 28px;
	}

	.carousel-caption p {
		font-size: 16px;
		margin: 20px 0 ;
	}
}

/* --------------------------- */



.navbar-default .navbar-toggle {
	border-radius: 0;
	background-color: #1a73e8;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

/* -------------- */
/* Pricing Table */
/* ------------ */

.greenback {
	color: rgba(255, 255, 255, 1);
}

.greenback h2 {
	font-size: 48px;
	line-height: 60px;
}

.greenback p {
	margin-top: 20px;
}

.greenback h2,
.greenback p {
	text-align: center;
}

.blueback {
	padding: 40px 0;
	text-align: center;
}

.db-attached h3 {
	padding: 80px 0 30px;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

.db-attached p {
	font-size: 18px;
	color: #666;
	text-align: center;
	padding: 10px 0 40px;
}

.db-padding-btm {
    padding-bottom: 50px;
}

.db-button-color-square {
    color: #ffffff;
    background-color:  #25D366;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.db-button-color-square:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
}

.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: #000000;
    border: 1px solid #e9e9e9;
    line-height: 30px;
	background-color: #ffffff;
	font-size: 16px;
	padding: 0 20px;
}

.db-pricing-eleven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.db-pricing-eleven ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.db-pricing-eleven ul li i {
    margin-right: 5px;
}


.db-pricing-eleven .price {
    background-color: #ffffff;
    padding: 40px 20px 20px 20px;
    font-size: 48px;
    font-weight: 900;
    color: #cc0000;
}

.db-pricing-eleven .price small {
    color: #414141;
    display: block;
    font-size: 16px;
    margin-top: 22px;
}

.db-pricing-eleven .type {
	background-color:  #1a73e8;
    padding: 50px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: #ffffff;
}

.db-pricing-eleven .pricing-footer {
    padding: 30px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
	border-width: 4px;
	border-color: #cc0000;
}

.db-pricing-eleven.popular .price {
    padding-top: 80px;
}
.table-1 .type {
	background-color: #FBBC05 !important;
}
.table-2 .type {
	background-color: #cc0000 !important;
}
.table-3 .type {
	background-color: #4688F4 !important;
}

@media (min-width: 768px) {
	.greenback h2 {
		font-size: 42px;
		line-height: 60px;
	}
}

@media (min-width: 992px) {
	.db-pricing-eleven {
		margin-left: 5px;
		margin-right: 5px;
		border-width: 2px;
		padding: 0 18px;
	}

	.db-pricing-eleven .type {
		border-radius: 8px;
	}

	.db-pricing-eleven.popular {
		box-shadow: 0px 15px 15px #cccccc;
		z-index: 1;
	}

}







/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.bs-docs-footer {
		text-align: left;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.top-brand {
		display: block;
	}

	.navbar {
		font-size: 18px;
		font-weight: 700;
	}

	.navbar-color-custom {
		border-radius: 0;
		border: none;
		background-color: #ffffff;
	}

	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		background-color: #1a73e8;
		color: rgba(255, 255, 255, 1);
		font-weight: 700;
	}

	.dropdown-menu {
		padding: 0;
		border: 0;
	}

	.dropdown-menu > li > a {
		font-size: 18px;
		padding: 14px 18px;

	}

	.dropdown-menu > li > a:hover {
		background-color: #1a73e8;
		color: rgba(255, 255, 255, 1);
	}

	.item img {
		width: 100%;
		margin: 0;
		box-shadow: none;
		border-radius: 0;
	}

	.carousel-indicators {
		position: relative;
		bottom: -20px;
	}

	.carousel-indicators li {
		background-color: #cc0000;
	}

	.carousel-indicators li.active {
		background-color: #6200EE;
		width: 15px !important;
		height: 15px !important;
	}

	.carousel-caption {
		position: absolute !important;
		background-color: rgba(255, 255, 255, .99);
		box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
		height: 85%;
		right: 60%;
		top: 30px;
		bottom: 30px;
		left: 0;
		z-index: 1;
		padding: 30px 30px;
		text-align: left;
	}

	.carousel-caption h3 {
		font-size: 32px;
		color: #333;
		line-height: 36px;
	}

	.carousel-caption .btn {
		font-size: 16px;
		font-weight: 900;
	}

	.carousel-caption p {
		font-size: 16px;
		color: #414141;
	}

	.db-pricing-eleven {
		border-radius: 0;
	}

	.mdn-quote {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	.mdn-quote blockquote {
		font-size: 28px;
		margin: 10px 0 10px 0;
		line-height: 36px;
	}

	.greenback h2,
	.greenback p {
		text-align: left;
	}

	.greenback img {
		text-align: right;
	}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.item img {
		width: 90%;
		margin-left: 10%;
		box-shadow: none;
		border-radius: 0;
	}

	.carousel-caption {
		height: 87%;
		box-shadow: 1px 0px 0px rgba(65, 65, 65, .2);
	}

	.carousel-caption h3 {
		line-height: 48px;
		font-size: 36px;
	}

	.carousel-caption p {
		font-size: 16px;

	}

}
